<div class="cart column cart-view">
	<div class="cart-content">
		<h3 class="ui header">
			Shopping Cart
		</h3>
		<div data-th-remove="tag" th:if="${cart != null and not #lists.isEmpty(items)}">
		
			<div class="shopping-cart">
				
				<div class="column-labels">
			        <label class="cart-product-image">Image</label>
			        <label class="cart-product-details">Product</label>
			        <label class="cart-product-price">Price</label>
			        <label class="cart-product-quantity">Quantity</label>
			        <label class="cart-product-removal">Remove</label>
			    </div>
			    
			    <div class="cart-product" data-th-each="item : ${items}">
			    	<div class="cart-product-image">
			    		<a data-th-href="${item.product.url}">
			            	<img data-th-if="${item.product.imageUrl}" data-th-src="${item.product.imageUrl}">
		            	</a>
			        </div>
			        <div class="cart-product-details">
			            <div class="cart-product-title">
			            	<a data-th-href="${item.product.url}">[[${item.product.displayName}]]</a>
		            	</div>
			        </div>
			        <div class="cart-product-price">[[${currency}]] [[${#numbers.formatDecimal(item.price, 1, 2, 'COMMA')}]]</div>
			        
			        
			        <div class="cart-product-quantity">
			            <input class="product-quantity cart-input" type="number" min="1" data-th-attr="value=${item.quantity},data-klarna-cart-update=${item.updateQuantity}"/>
			        </div>
			       
			        <div class="cart-product-removal">
			            <button class="remove-product" data-th-attr="data-klarna-cart-add=${item.removeFromCart}">X</button>
			        </div>
			    </div>
			    
		    </div>

			<div class="total">
				<span>Total: </span>[[${totalPrice}]]
			</div>
			<div class="checkoutArea">
				<a data-th-href="${backToStore}">Add more items</a>
				or
				<a class="ui button greenButton" data-th-href="${checkoutUrl}">Checkout</a>
			</div>
		</div>
		<div class="empty-cart-message" th:if="${#lists.isEmpty(items)}">
			Empty cart <i class="shop icon"></i>
		</div>
	</div>
</div>  
