@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,900,900i");
/* ::::: Author: Esther Morais ::::: */
/* General */
html, body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

a {
  color: #4bc3c9; }

/* Page Heading */
.pageHeading h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #3c3a3b;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px; }

/* Input */
input {
  font-family: "Raleway", sans-serif;
  font-size: 1.214rem;
  font-weight: 300;
  border: 1px solid #e6e7e8;
  padding: 0.9em;
  margin-right: 16px; }

/* Buttons */
.greenButton.ui.button {
  background-color: #58c22e;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  border-radius: 0; }
  .greenButton.ui.button:hover {
    background-color: #56b22e; }

.blue-outlineButton.ui.button {
  background-color: transparent;
  color: #4bc3c9;
  border: 1px solid #4bc3c9;
  font-family: "Raleway", sans-serif;
  border-radius: 0px; }
  .blue-outlineButton.ui.button:hover {
    background-color: #4bc3c9;
    color: #fff; }

/* hide up/down arrows ("spinners") on input fields marked */
.no-spinners {
  -moz-appearance: textfield; }
  .no-spinners::-webkit-outer-spin-button, .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

/* Nav */
.ui.nav {
  background-color: #4bc3c9;
  border: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .ui.nav .header.item {
    padding-top: 1.85em;
    border-left: 0 !important; }
    @media (min-width: 768px) {
      .ui.nav .header.item {
        padding-left: 0; } }
    .ui.nav .header.item:before {
      display: none; }
    .ui.nav .header.item img {
      width: 7.2em;
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
      -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2)); }
  .ui.nav .right.menu a.ui.cartNav:only-child, .ui.nav .right.menu a.ui.cartNav:nth-child(3) {
    padding-right: 0; }
  .ui.nav .right.menu a.ui.cartNav:before {
    display: none; }
  .ui.nav .right.menu a.ui.cartNav:hover {
    background: none; }
  .ui.nav .ui.cartNav {
    opacity: 0.55; }
    .ui.nav .ui.cartNav.active {
      background: transparent;
      opacity: 1; }
    .ui.nav .ui.cartNav .ui.label {
      background: transparent;
      position: relative; }
      .ui.nav .ui.cartNav .ui.label .cartIcon, .ui.nav .ui.cartNav .ui.label .bagIcon, .ui.nav .ui.cartNav .ui.label .identidyIcon, .ui.nav .ui.cartNav .ui.label .paymentIcon {
        display: inline-block;
        position: relative;
        width: 3em;
        height: 3em;
        text-align: center;
        vertical-align: bottom; }
        .ui.nav .ui.cartNav .ui.label .cartIcon:before, .ui.nav .ui.cartNav .ui.label .bagIcon:before, .ui.nav .ui.cartNav .ui.label .identidyIcon:before, .ui.nav .ui.cartNav .ui.label .paymentIcon:before {
          content: "";
          background-repeat: no-repeat;
          display: inline-block;
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
          -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2)); }
      .ui.nav .ui.cartNav .ui.label .cartIcon:before {
        background-image: url("../img/cart.svg");
        width: 45px;
        height: 43px; }
      .ui.nav .ui.cartNav .ui.label .bagIcon {
        bottom: -5px; }
        .ui.nav .ui.cartNav .ui.label .bagIcon:before {
          background-image: url("../img/bag.svg");
          width: 30px;
          height: 40px;
          vertical-align: bottom; }
      .ui.nav .ui.cartNav .ui.label .identidyIcon {
        bottom: -5px; }
        .ui.nav .ui.cartNav .ui.label .identidyIcon:before {
          background-image: url("../img/identidy.svg");
          width: 29px;
          height: 35px;
          vertical-align: bottom; }
      .ui.nav .ui.cartNav .ui.label .paymentIcon {
        bottom: -5px;
        width: 2.3em; }
        .ui.nav .ui.cartNav .ui.label .paymentIcon:before {
          background-image: url("../img/payment.svg");
          width: 30px;
          height: 40px;
          vertical-align: bottom; }
      .ui.nav .ui.cartNav .ui.label .iconName {
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
        -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2)); }
      .ui.nav .ui.cartNav .ui.label #cartQty {
        position: absolute;
        top: 10%;
        right: 20%;
        background-color: #ca493e;
        border-radius: 100%;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        display: inline-block;
        text-align: center; }
        @supports (-ms-ime-align: auto) {
          .ui.nav .ui.cartNav .ui.label #cartQty {
            line-height: 16px; } }
        @supports (-ms-accelerator: true) {
          .ui.nav .ui.cartNav .ui.label #cartQty {
            line-height: 16px; } }
        @media screen\0 {
          .ui.nav .ui.cartNav .ui.label #cartQty {
            line-height: 16px; } }
        @supports (-moz-appearance: none) and (display: contents) {
          .ui.nav .ui.cartNav .ui.label #cartQty {
            line-height: 16px; } }
  @media (max-width: 599px) {
    .ui.nav .ui.cartNav {
      padding: 0; }
      .ui.nav .ui.cartNav:only-child .ui.label {
        margin-right: 1em; }
      .ui.nav .ui.cartNav .ui.label {
        margin-left: 0; }
        .ui.nav .ui.cartNav .ui.label .iconName {
          display: none; } }

/* Cards */
.ui.cards {
  margin-bottom: 80px; }
  .ui.cards > .card {
    border-radius: 0;
    border: 1px solid #e6e7e8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .ui.cards > .card:first-child, .ui.cards > .card > :first-child {
      border-radius: 0 !important; }
    .ui.cards > .card > .image a > img {
      display: block;
      width: 100%;
      height: auto; }
    .ui.cards > .card > .content a.header, .ui.cards > .card > .content .header:not(.ui) {
      font-family: "Raleway", sans-serif;
      color: #3c3a3b;
      font-weight: 600; }
      .ui.cards > .card > .content a.header:hover, .ui.cards > .card > .content .header:not(.ui):hover {
        color: #4bc3c9; }
    .ui.cards > .card > .content .meta > span {
      font-family: "Raleway", sans-serif;
      color: #3c3a3b; }
    .ui.cards > .card .ui.button.greenButton {
      float: right;
      padding: 0.43em 0.86em;
      font-size: 1rem;
      margin-right: 0; }
    .ui.cards > .card .ui.dark-red.label {
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      background-color: #ca493e;
      color: #fff;
      border-radius: 0; }
      .ui.cards > .card .ui.dark-red.label:after {
        border-right-color: #a73a30; }
  @media (min-width: 481px) and (max-width: 767px) {
    .ui.cards.four.stackable {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important; }
      .ui.cards.four.stackable > .card {
        width: calc(50% - 2em) !important; }
        .ui.cards.four.stackable > .card:first-child {
          margin-top: 1em !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .ui.cards.four > .card {
      width: calc(50% - 1.5em) !important; } }

.product-full-price.discounted {
  text-decoration: line-through; }

.product-discounted-price {
  font-weight: bold;
  color: #ca493e !important; }

/* Categories Menu */
.categoriesMenu {
  background-color: #e6eff3;
  padding: 0.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }
  .categoriesMenu .categoryLink a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #4bc3c9; }
    .categoriesMenu .categoryLink a:hover {
      text-decoration: underline; }

/* Cart */
.cart.cart-view.column {
  margin-top: 80px !important; }
  .cart.cart-view.column h3.ui.header {
    font-family: "Raleway", sans-serif;
    font-size: 2.14rem;
    font-weight: 600;
    color: #3c3a3b;
    margin-bottom: 50px; }
.cart .cart-content .items .item .content a.header {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #3c3a3b; }
.cart .cart-content .items .item .content .description {
  font-family: "Raleway", sans-serif;
  color: #3c3a3b; }
.cart table.ui.table {
  border: 0; }
  .cart table.ui.table thead th {
    font-family: "Raleway", sans-serif;
    font-size: 1.42em;
    font-weight: 300 !important;
    border-bottom: 2px solid #e6e7e8;
    color: #3c3a3b;
    background: transparent; }
    .cart table.ui.table thead th:first-child {
      padding-left: 0; }
    .cart table.ui.table thead th:nth-child(2) {
      text-align: center; }
    .cart table.ui.table thead th:nth-child(3) {
      text-align: right;
      padding-right: 0; }
  .cart table.ui.table tbody td {
    border-top: 1px solid #e6e7e8;
    color: #3c3a3b; }
    .cart table.ui.table tbody td:first-child {
      padding-left: 0; }
    .cart table.ui.table tbody td:nth-child(2) {
      text-align: center; }
    .cart table.ui.table tbody td:nth-child(3) {
      font-family: "Raleway", sans-serif;
      font-size: 1.715em;
      font-weight: 500;
      text-align: right;
      padding-right: 0; }
  .cart table.ui.table tbody tr:last-child td {
    border-bottom: 1px solid #e6e7e8; }
@media (max-width: 767px) {
  .cart table.ui:not(.unstackable) tr > td {
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important; } }
.cart table .itemBasket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  .cart table .itemBasket .smImage {
    background-color: #e6eff3;
    width: 80px;
    height: 80px;
    display: inline-block;
    color: #3c3a3b; }
  .cart table .itemBasket .itemName {
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    display: inline-block;
    color: #3c3a3b;
    margin-left: 25px; }
    .cart table .itemBasket .itemName a {
      color: #3c3a3b; }
      .cart table .itemBasket .itemName a:hover {
        color: #4bc3c9; }
.cart .total {
  font-family: "Raleway", sans-serif;
  font-size: 1.785rem;
  font-weight: 600;
  text-align: right;
  margin-top: 70px; }
  .cart .total span {
    font-weight: 400; }
.cart .checkoutArea {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.714rem;
  text-align: right;
  margin-top: 90px;
  margin-bottom: 4em; }
  .cart .checkoutArea a:first-child {
    color: #3c3a3b;
    font-weight: 300;
    display: inline-block;
    margin-right: 20px;
    border-bottom: 1px solid #3c3a3b;
    padding-bottom: 4px; }
    .cart .checkoutArea a:first-child:hover {
      border-bottom: 0; }
    @media (max-width: 480px) {
      .cart .checkoutArea a:first-child {
        margin-bottom: 30px; } }
  .cart .checkoutArea a.ui.button.greenButton {
    font-size: 1.714rem;
    margin-left: 20px; }
.cart .empty-cart-message {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #3c3a3b; }

/* Product Quantity Form */
.formQtd {
  display: inline-block; }
  .formQtd .product-quantity {
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    color: #3c3a3b;
    width: 40px;
    height: 40px;
    border-radius: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #bcbec0; }
  .formQtd .closeIcon:hover {
    cursor: pointer; }
  .formQtd .closeIcon:before {
    content: "";
    background-image: url("../img/close_button.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;
    margin-left: 13px; }

/* Product */
.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 1.214rem; }
  @media (max-width: 567px) {
    .product {
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      justify-content: center;
      -webkit-justify-content: center; } }
  .product .productImage {
    width: 250px;
    height: 250px;
    background-color: #e6eff3;
    flex-shrink: 0;
    margin-right: 80px;
    display: block;
    position: relative; }
    @media (max-width: 567px) {
      .product .productImage {
        margin-right: 0;
        margin-bottom: 100px; } }
    @media (min-width: 568px) and (max-width: 767px) {
      .product .productImage {
        margin-right: 30px; } }
    .product .productImage .social {
      content: "";
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      bottom: -55px; }
      .product .productImage .social:hover {
        cursor: pointer; }
    .product .productImage .fb {
      background-image: url("../img/facebook_icon.svg");
      left: 20%; }
    .product .productImage .twitter {
      background-image: url("../img/twitter_icon.svg");
      left: 45%; }
    .product .productImage .gplus {
      background-image: url("../img/googleplus_icon.svg");
      right: 20%; }
  .product .productDetail .productName {
    font-family: "Raleway", sans-serif;
    font-size: 1.785rem;
    font-weight: 600;
    color: #3c3a3b;
    margin-bottom: 36px; }
  .product .productDetail .productCheckout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid #e6e7e8; }
    .product .productDetail .productCheckout .formQtd {
      margin-right: 26px; }
    .product .productDetail .productCheckout .price {
      font-family: "Raleway", sans-serif;
      font-size: 1.6rem;
      font-weight: 600;
      color: #3c3a3b;
      margin-right: 26px; }
      .product .productDetail .productCheckout .price .product-full-price discounted {
        margin-right: 15px; }
    .product .productDetail .productCheckout .ui.button.greenButton {
      padding: 0.43em 0.86em;
      font-size: 1.714rem; }
  .product .productDetail .productDescription {
    border-bottom: 1px solid #e6e7e8;
    margin-bottom: 36px;
    padding-bottom: 36px; }
    .product .productDetail .productDescription h3 {
      font-family: "Raleway", sans-serif;
      font-size: 1.214rem;
      font-weight: 600; }
  .product .productDetail .productRecommend span {
    font-family: "Raleway", sans-serif;
    font-size: 1.428rem;
    font-weight: 600;
    color: #3c3a3b;
    margin-right: 30px;
    margin-bottom: 26px;
    display: inline-block; }
    @media (max-width: 1199px) {
      .product .productDetail .productRecommend span {
        display: block; } }
  .product .productDetail .productRecommend input {
    margin-bottom: 26px; }
  .product .productDetail .productRecommend .blue-outlineButton.ui.button {
    font-size: 1.428rem;
    font-weight: 600; }

/* Footer */
.ui.footer.segment {
  background-color: #4bc3c9;
  color: #fff;
  padding-top: 2.5em;
  padding-bottom: 5em;
  border-bottom: 0; }
  .ui.footer.segment a {
    color: #fff; }
  .ui.footer.segment .ui.container.stackable.two.column.grid > .column {
    max-width: 300px; }
    .ui.footer.segment .ui.container.stackable.two.column.grid > .column h4 {
      font-size: 1.15rem; }
    .ui.footer.segment .ui.container.stackable.two.column.grid > .column > a {
      font-style: italic; }
    .ui.footer.segment .ui.container.stackable.two.column.grid > .column > p > a {
      text-decoration: underline; }
      .ui.footer.segment .ui.container.stackable.two.column.grid > .column > p > a:hover {
        text-decoration: none; }
    .ui.footer.segment .ui.container.stackable.two.column.grid > .column:nth-child(2) {
      margin-left: auto;
      max-width: 250px; }

/*# sourceMappingURL=main.css.map */
