div[data-portal-region="main"] {
    min-height: 400px;
}
.ui.main.container {
    min-height: 100vh;
}
.ui.information.container {
    margin-top: 10%;
    width: 50%;
}
.ui.information.container h1, .ui.information.container p {
    text-align: center;
}
.menu.bar {
    padding: 2em 0;
}
.full.height .ui.vertical.footer.segment {
    bottom: 0;
    position: relative;
}
.ui.information.container h1 {
    color: white;
    font-size: 5em;
    font-style: bold;
}
.ui.information.container p {
    color: #ccc;
    font-size: 1.5em;
}
.ui.embed {
    padding-bottom: 45%;
}
@media (min-width: 840px) {
    .body {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
.ui.menu {
    margin-top: 0;
}

.padding{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.label .ui.image {
    display: inline-block;
}

.hidden{
    display: none;
}

.label .ui.image, .ui.dropdown .menu>.item>.image, .ui.dropdown .menu>.item>img, .ui.dropdown>.text>.image, .ui.dropdown>.text>img {
    max-width: 2em;
}

.ui.dropdown.fantasy {
    max-height: 2.7142em;
    text-overflow: ellipsis;
    clear: both;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block !important;
}

.ui.dropdown.fantasy > .text {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui.dropdown .remove.icon {
    font-size: 0.857143em;
    margin:0;
    padding:0;
    right: 2em;
    top: auto;
    position: absolute;
    opacity: 0.5;
    z-index: 3;
}

.ui.dropdown.fantasy input[value=''] ~ .remove.icon,
.ui.dropdown.fantasy input:not([value]) ~ .remove.icon,
.ui.dropdown.fantasy.loading .remove.icon {
    display: none;
}

.ui.inverted.menu {
    border-radius: 0;
}
.ui.horizontal.divider.header{
    margin-bottom: 1rem;
    margin-top: 1rem;
}